.tab-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.tab {
  padding: 10px 20px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  flex-shrink: 0;
}
.tab:hover {
  background: var(--hover-color);
}
.tab.active {
  background: var(--hover-color);
}
.content {
  display: none;
}
.content.active {
  display: block;
}
